<div id="beerCard">
    <img src="{{this.image_url}}" alt="Beer-image">
    <h3 class="beer-name">{{this.name}}</h3>
    <p class="beer-tag">{{this.tagline}}</p>
    <p class="beer-desc">{{this.description}}</p>
</div> 