<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>IronBeers</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
    crossorigin="anonymous">
  <link rel="stylesheet" href="/stylesheets/styles.css">
</head>
<body>

    <div class="navbar navbar-expand-lg" style="background-color: #2081C3;">
        <a class="navbar-brand ggg" href="/">Home</a>
        <a class="navbar-brand ggg" href="/beers">Beers</a>
        <a class="navbar-brand ggg" href="/random-beers">Random Beer</a>

    </div>



  {{{ body }}}

<footer class="page-footer font-small">

  <!-- Copyright -->
  <div class="ggg footer-copyright text-center py-3" style="background-color: #0A2C42;">Made in China
    
  </div>
  <!-- Copyright -->

</footer>


</body>
</html>